
<div class="container">
  <h2 class="text-white mt-3 ml-0 mb-0"><%= @profile.name.capitalize %>'s Profile:</h2>
  <div class="container d-flex bg-light p-2 justify-content-between">
    <div>
      <p>Name: <%= @profile.name.capitalize %></p>
      <p>Email: <%= @profile.email %></p>
      <p>Password: ******** </p>
    </div>
    <div class="">
        <%= cl_image_tag(@profile.photo.key, class: "profile-image ") %>
    </div>
  </div>

  <div class="d-flex mt-3 ml-0 mb-0 justify-content-between">
    <h2 class="text-white mb-0 "><%= @profile.name.capitalize %>'s Boards:</h2>
    <%= link_to "Add Board", new_board_path, class: "btn btn-danger mb-2" %>
  </div>
  <div class="container bg-light px-3 py-1 ">
   <% if @profile.boards.empty? %>
       <p class="text-muted font-italic my-0">You have no boards</p>
    <% end %>
    <% @profile.boards.each do |board| %>
    <div class="card my-3 p-2">
      <%=  link_to board_path(board), class: "text-decoration-none text-dark" do %>
      <div class="card-body p-0 d-flex justify-content-between ">
      <div>
        <h5 class="font-weight-bold"> <%= board.title%></h5>
        <p> <%= board.description%></p>
      </div>
        <%= cl_image_tag(board.photo.key, class: "board-image") %>
      </div>
      <% end %>
    </div>
      <% end %>
  </div>


  <h2 class="text-white mt-3 ml-0 mb-0"><%= @profile.name.capitalize %>'s Rental History:</h2>
  <div class="container bg-light px-3 mb-3 py-1 ">
    <% if @profile.rentals.empty? %>
       <p class="text-muted font-italic my-0">You have no rental history</p>
    <% end %>
    <% @profile.rentals.each do |rental| %>
    <div class="card my-3 p-2">
      <div class="card-body p-0 d-flex align-items-center">
        <div class="text-center pr-3 border-right">
          <h5 class="font-italic">Status</h5>
          <p class ="rounded bg-warning text-white px-2 py-3"> <%= rental.status %></p>
        </div>
        <div class="ml-3">
            <p class="m-1"> Date range: <%= rental.start_date%> - <%= rental.start_date%></p>
            <p class="m-1"> Total Price: <%= rental.total_price%></p>
            <p class="m-1">Board: <%= rental.board.title %></p>
        </div>
        <%= cl_image_tag(rental.board.photo.key, class: "board-image ml-auto") %>
      </div>
    </div>
      <% end %>
  </div>


<h2 class="text-white mt-3 ml-0 mb-0">People Renting from <%= @profile.name.capitalize %></h2>
  <div class="container bg-light px-3 mb-3 py-1 ">
   <% if @profile.boards.empty? %>
       <p class="text-muted font-italic my-0">You have no boards to rent</p>
    <% end %>
    <% @profile.boards.each do |board| %>
      <% board.rentals.each do |rental| %>
        <div class="card my-3 p-2">
          <div class="card-body p-0 d-flex align-items-center">
            <div class="">
              <%= link_to "Approve", approve_rental_path(rental), class: "btn btn-success m-2" %>
              <%= link_to "Deny", deny_rental_path(rental), class: "btn btn-warning m-2" %>
            </div>
            <div class="text-center px-3 border-right border-left">
              <h5 class="font-weight-bold mb-2">Renter</h5>
              <%= cl_image_tag(rental.user.photo.key, class: "avatar ") %>
              <p> <%= rental.user.name.capitalize %> </p>
            </div>
            <div class="ml-3">
                <p class="m-1"> Date range: <%= rental.start_date%> - <%= rental.start_date%></p>
                <p class="m-1"> Total Price: <%= rental.total_price%></p>
                <p class="m-1">Board being rented: <%= rental.board.title %></p>
            </div>
            <%= cl_image_tag(rental.board.photo.key, class: "board-image ml-auto") %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>