<div class="banner image-position">
  <div class="home-banner">
    <div class="content-home text-center">
      <h1>Airsurf</h1>
      <p>You want to go surfing? Rent it!</p>
      <!--<% if false %>
        <%= simple_form_for @boards do |f| %>
          <%= f.input :name %>
          <%= f.submit "Find your board", class:"btn btn-primary" %>
        <% end %>
      <% end %> -->
      <%# > Movie.search_by_title_and_syllabus("superman batm") %>
      <div class="row justify-content-center">
      <%= form_tag boards_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "",
          placeholder: "Enter your location",
          class: "col-12"
        %>
        <%= submit_tag "Find your board", class: "my-3 btn btn-primary btn-home" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
