<div class="container">
  <h1 class="text-white my-2 ml-2">Boards available</h1>
  <div class="list-of-cards">
    <div class="content-boards">
      <% @boards.each do |board| %>
        <div class="card card-boards my-4" style="width: 20rem;">
          <%= cl_image_tag board.photo.key, height: 250, crop: :thumb, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= board.title %></h5>
            <p class="card-text"><%= board.description %></p>
            <p class="card-text"><%= (board.price_per_day)/100 %>€ / day</p>
            <%= link_to "Rent it!", board_path(board), class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <!-- <% if false %>
    <% @boards.each do |board| %>
      <div class="card card-boards">
        <%= board.title %>
        <%= board.description %>
      </div>
    <% end %>
  <% end %> -->
</div>
