
<div class="container-index-boards rounded">
  <div class="d-flex justify-content-left m-3 p-3 rounded">
    <%= form_tag boards_path, method: :get, class: "d-flex align-items-center mw-60" do %>
      <div>
        <%= text_field_tag :query, params[:query], placeholder: "Enter your location", class: "form-control w-55" %>
      </div>
      <div>
        <%= submit_tag "Find your board", class: "mx-3 btn btn-warning" %>
      </div>
    <% end %>
  </div>

  <h1 class="text-white padd-left marg-top">Boards available</h1>
  <div class="content-max-width d-flex">
    <div class="content-boards rounded flex-grow-1">
      <% @boards.each do |board| %>
        <div class="card card-boards my-4" style="width: 20rem;">
        <%= cl_image_tag board.photo.key, height: 350, crop: :thumb, class: "card-img-top" %>
        <div class="card-body white-card-body text-center d-flex flex-column">
          <h3 class="card-title "><%= board.title %></h3>
          <div class="mt-auto interline-card-content">
            <p class="card-text"></p>
            <p class="card-text"><%= truncate board.description, length:28 %></p>
            <p class="card-text" id="card-location" ><i class="fas fa-map-marker-alt"></i> <%= board.location %></p>
            <p class="card-text" id="card-price" ><%= (board.price_per_day)/100 %>€/day</p>
            <%= link_to "Rent it!", board_path(board), class:"btn btn-primary" %>
          </div>
        </div>
        </div>
      <% end %>
    </div>
    <div id="map" class="ml-5 my-4"
     style="width: 400px; height: 400px; margin: 50px"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
