<div class="container p-5 text-white">
  <h1 class="my-3 text-center border-bottom">Add a board to your quiver</h1>
  <div class="d-flex justify-content-center">
    <div class="content-new-board">
      <%= simple_form_for @board do |f|%>
        <%= f.input :title %>
        <%= f.input :brand %>
        <%= f.input :height %>
        <%= f.input :volume %>
        <%= f.input :condition %>
        <%= f.input :price_per_day %>
        <%= f.input :photo, as: :file %>
        <%= f.input :location %>
        <%= f.input :description %>

        <%= f.submit "Create your board!", class: "mt-4 btn btn-danger" %>
      <% end %>
    </div>
  </div>
  <%= link_to ">> Back to Boards", boards_path, class:"btn btn-outline-light align-items-end" %>
</div>
